<document>
  <@head>
    <title>Home</title>
  </@head>
  <h1>Homepage</h1>
  <label for="test-select" class="select-wrapper">
    <span>Choose Your Path</span>
    <select id="test-select">
      <option value="">...</option>
      <option>I'll go left</option>
      <option>Nah, let's go right</option>
    </select>
  </label>
</document>
