@import "variables";

html {
  font-family: $font-family-sans-serif;
}

body {
  color: $body-color;
  background-color: $body-bg;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    margin-bottom: 1rem;
  }
}

select {
  max-width: 25vw;
  // Test for autoprefixer
  appearance: none;
}
